{{ define "main" }}
<div class="container" style="padding-top:6em">
    <div class="row" style="margin-bottom:10em">
        <div class="col text-center">
            <h3 style="margin-bottom:3em;">
                Hi, I'm a developer at
                <a href="https://www.uvd.co.uk">UVD</a> helping bring start-ups to life.
            </h3>
            <h3 style="margin-bottom:1em;">
                I explore
                <i class="fa fa-lock" aria-hidden="true"> Cryptography</i>,
                <i class="fa fa-cogs" aria-hidden="true"> Dev Ops</i> and the
                <i class="fa fa-cloud" aria-hidden="true"> Internet of Things</i>.
            </h3>
            <h3 style="margin-bottom:1em;">
                You can also find me at
                <i class="fa fa-music" aria-hidden="true"></i> festivals, excited about
                <i class="fa fa-rocket" aria-hidden="true"></i> space exploration and binge watching
                <i class="fa fa-television" aria-hidden="true"></i> TV shows.
            </h3>
        </div>
    </div>
</div>

{{ end }}