{{ define "main" }}
<div class="container" style="padding-top:5em">
    <div class="row" style="margin-bottom:10em">
        <div class="col text-center">
            <h3 style="margin-bottom:3em;">
                Hi, I'm a Security Engineer at
                <a href="https://thoughtmachine.net/" target="_blank">Thought Machine</a>, helping build and
                automate security tooling.
            </h3>
            <h3 style="margin-bottom:1em;">
                I explore
                <i class="fa fa-lock" aria-hidden="true"> Security</i>,
                <i class="fa fa-cogs" aria-hidden="true"> Dev Ops</i> and the
                <i class="fa fa-cloud" aria-hidden="true"> Internet of Things</i>.
            </h3>
            <h3 style="margin-bottom:1em;">
                You can also find me at
                <i class="fa fa-music" aria-hidden="true"></i> festivals, excited about
                <i class="fa fa-rocket" aria-hidden="true"></i> space exploration and binge watching
                <i class="fa fa-television" aria-hidden="true"></i> TV shows.
            </h3>
        </div>
    </div>
</div>

{{ end }}