<div class="box">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <h2 class="title is-5">Academic</h1>
        </div>
      </div>
    </div>
    <div class="container">

      {{ range sort $.Site.Data.academic "years" "desc" }}
      <section class="section">
        <div class="columns">
          <div class="column is-full">
            <!-- <div class="panel is-white"> -->
            <!-- <h4 class="panel-heading has-text-weight-light">{{ .years }} - {{ .title }} at <a -->
            <h4 class="title is-5 has-text-weight-light">{{ .years }} - {{ .title }} at <a
                href="{{ .institution_url }}">{{ .institution }}</a>
              <small>({{ .grade }})</small></h4>
            <!-- <div class="panel-block"> -->
            <div class="container">
              <div class="columns">
                <div class="column is-full">
                  <div class="content">
                    <ul>
                      {{ if isset . "dissertation" }}
                      <li>Dissertation titled <em>"{{ if isset . "dissertation_url" }}<a
                            href="{{ .dissertation_url }}">{{ .dissertation }}</a>{{ else }}{{ .dissertation }}{{ end }}"</em>
                      </li>
                      {{ end }}
                      {{ range .accolades }}
                      <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              </div>
              {{ $finalYearModule := index (sort .modules "year" "desc") 0}}
              {{ $finalYearModules := where .modules "year" $finalYearModule.year }}
              <div class="columns">
                <div class="column is-full">
                  <div class="content">
                    <p>
                      <small>C-score: {{ math.Round .mark }}%.
                        {{ range $i, $e := first 5 (sort $finalYearModules "mark" "desc") }}{{ if $i }}, {{ end }}
                        {{if isset $e "asset_url" }}<a href="{{ $e.asset_url }}">{{ $e.name }}
                          ({{ math.Round $e.mark }}%)</a>{{ else }}{{ $e.name }}
                        ({{ math.Round $e.mark }}%){{ end }}{{ end }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </section>
      {{ end }}
    </div>
  </section>
</div>
