{{ define "title" }}VJ | About{{ end }} {{ define "main" }}
<div class="container">
    <div class="row" style="margin-bottom:4em;">
        <div class="col text-center">
            <h1>About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin-bottom:1em;">Academic</h4>
            <h5>
                <small>2016/17 - MSc Computing and Security from
                    <a href="https://www.kcl.ac.uk" target="_blank">King's College London</a> (Pass with Distinction)</small>
            </h5>
            <p>
                Dissertation titled
                <em>"Collective Privacy Management in Social Media".</em>
                <br> Awarded prize for best overall performance on MSc Computing and Security.
                <br>
                <small>C-score: 73%. Top 5 modules: Security Engineering (92%), Group Project (85%), Cryptography and Information
                    Security (80%), Individual Project (74%), Network Security (69%).</small>
            </p>
            <h5>
                <small>2012/16 - BSc Computer Science with Industrial Experience from
                    <a href="https://www.qmul.ac.uk" target="_blank">Queen Mary, University of London</a> (First Class Honours)
                </small>
            </h5>
            <p>
                Dissertation titled
                <em>"Implementations of Homomorphic Encryption".</em>
                <br>
                <small>C-score: 77%. Top 5 final year modules: Embedded Systems (83%), Computability (82%), Individual Project (82%), Web Programming (79%), Algorithms and Complexity (73%).</small>
            </p>
        </div>
    </div>
</div>
{{ end }}