{{ define "title" }}VJ | Education{{ end }} {{ define "main" }}
<div class="container">
    <div class="row" style="margin-bottom:4em;">
        <div class="col text-center">
            <h1>About</h1>
        </div>
    </div>

    <div class="row" style="margin-bottom:6em">
        <div class="col text-center">

            <h3>
                Hi, I'm a developer at
                <a href="https://www.uvd.co.uk">UVD</a> helping bring start-ups to life.
            </h3>
            <h3>
                I explore
                <i class="fa fa-lock" aria-hidden="true"> Cryptography</i>,
                <i class="fa fa-cogs" aria-hidden="true"> Dev Ops</i> and the
                <i class="fa fa-cloud" aria-hidden="true"> Internet of Things</i>.
            </h3>
            <h3>
                You can also find me at
                <i class="fa fa-music" aria-hidden="true"></i> festivals, excited about
                <i class="fa fa-rocket" aria-hidden="true"></i> space exploration and binge watching
                <i class="fa fa-television" aria-hidden="true"></i> TV shows.
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Education</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-sm-5 text-center text-sm-left">
                    <h2>MSc in Computing and Security</h2>
                </div>
                <div class="col text-center text-sm-center">
                    <h3>
                        <small class="text-muted">King's College London</small>
                    </h3>
                </div>
                <div class="col text-center text-sm-right">
                    <h3>
                        <small>Pass with Distinction</small>
                    </h3>
                </div>

                <div class="container col-11">
                    <div class="row" style="margin-bottom: 1em;">
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">
                                                Dissertation titled
                                                <em>"Collective Privacy Management in Social Media"</em>
                                            </div>
                                            <div class="col-4 text-right">
                                                <small>
                                                    <strong>74</strong> %</small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}