{{ define "title" }}VJ | Projects{{ end }} {{ define "main" }}

<div class="container">
    <div class="row" style="margin-bottom:4em;">
        <div class="col text-center">
            <h1>Projects</h1>
        </div>
    </div>

    {{ $pagesLen := len .Data.Pages }} {{ range $i, $page := .Data.Pages.ByDate.Reverse }} {{ if modBool $i 2 }}
    <div class="row" style="margin-bottom:2em;">
        <div class="card-deck">
            {{ end }}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="pull-left">
                                <a class="project-link" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
                            </h4>
                        </div>
                        <div class="col-md-2">
                            {{ if eq $page.Params.dev_status "in-progress" }}
                            <span class="pull-right badge badge-primary">In progress</span>
                            {{ else if eq $page.Params.dev_status "concept" }}
                            <span class="pull-right badge badge-info">Concept</span>
                            {{ else if eq $page.Params.dev_status "complete" }}
                            <span class="pull-right badge badge-success">Complete</span>
                            {{ else if eq $page.Params.dev_status "idle" }}
                            <span class="pull-right badge badge-warning">Idle</span>
                            {{ else if eq $page.Params.dev_status "abandoned" }}
                            <span class="pull-right badge badge-danger">Abandoned</span>
                            {{ end }}
                        </div>
                    </div>
                    <p>{{ $page.Params.short_description }}</p>
                </div>
            </div>
            {{ if modBool (add $i 1) 2 }}
        </div>
    </div>
    {{ else if eq $pagesLen (add $i 1) }}
</div>
{{ end }} {{ end }}
</div>
{{ end }}