{{ define "title" }}VJ | Blog{{ end }} {{ define "main" }}

<div class="container">
    <div class="row" style="margin-bottom:4em;">
        <div class="col text-center">
            <h1>Blog</h1>
        </div>
    </div>

    {{ $pagesLen := len .Data.Pages }} {{ range $i, $page := .Data.Pages.ByDate.Reverse }}
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ $page.Params.summary }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <small class="text-right pull-right">{{ $page.Date.Format "2 Jan, 2006" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

</div>
{{ end }}
