<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ with .Site.Params.meta.description }}
    <meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.meta.keywords }}
    <meta name="keywords" content="{{ . }}">{{ end }}

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var link = document.createElement("link");
            link.href = "{{ relURL . }}"
            link.type = "text/css"
            link.rel = "stylesheet"

            document.getElementsByTagName("head")[0].appendChild(link);
        })
    </script>
    {{ end }}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
    <script src="{{ relURL . }}" defer async></script>
    {{ end }}

</head>

<body>
    {{ partial "nav.html" . }}

    <div class="container">
        {{ block "main" . }} {{ end }}
    </div>
    {{ partial "footer.html" . }}

    {{ if eq .Page.Params.latex true }} {{ partial "mathjax_support.html" . }} {{ end }}
    {{ if eq .Page.Params.mermaid true }} {{ partial "mermaid_support.html" . }} {{ end }}
</body>

</html>
