<footer class="footer">
    <hr />
    <div class="level">
        <div class="level-left">
            <ul>
                <li>
                    <strong>{{ .Site.Title }}</strong>
                    <br>
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <a href="mailto:{{ .Site.Params.email_address }}">{{ .Site.Params.email_address }}</a>
                    <br>
                    <span class="icon"><i class="fas fa-map-marker"></i></span>
                    {{ .Site.Params.location }}
                    <br>
                    <ul>
                        <li class="is-inline">
                            <a target="_blank" href="https://github.com/{{ .Site.Params.github_username }}">
                                <span class="icon"><i class="fab fa-github"></i></span>
                                
                            </a>
                        </li>
                        <li class="is-inline">
                            <a target="_blank" href="https://twitter.com/{{ .Site.Params.twitter_username }}">
                                <span class="icon"><i class="fab fa-twitter"></i></span>
                            </a>
                        </li>
                        <li class="is-inline">
                            <a target="_blank" href="{{ .Site.Params.linkedin_url }}">
                                <span class="icon"><i class="fab fa-linkedin"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>
