[Unit]
Description=Bootstrap Hashistack
After=vault.service

[Service]
Type=oneshot
ExecStart=/bootstrap/hashistack.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
