{{ define "title" }}VJ | Notes > {{ .Title }}{{ end }}
{{ define "main" }}
<section class="section">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">{{ .Params.module }}</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <h2 class="subtitle">{{ .Title }}</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12"><small>{{.Params.course}}</small></div>
  </div>
</section>
<hr />
<section class="section">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
