<nav class="navbar" role="navigation" aria-label="main navigation" data-turbolinks-permanent>
    <div class="navbar-brand">
        <a class="navbar-item" href="/">{{ .Site.Title }}</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavBar" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
            {{ $currentPage := . }}
            {{ range sort .Site.Menus.main "Weight" "desc" }}
            {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            <a class="navbar-item{{ if $active }} has-text-primary{{ end }}" href="{{ .URL }}">{{.Title}}</a>
            {{ end }}
        </div>
    </div>
</nav>
