{{ define "main" }}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title is-4 has-text-weight-light">Hi, I'm a Security Engineer at
                <a href="https://thoughtmachine.net/" target="_blank">Thought Machine</a>, helping build and
                automate security tooling.</h2>
            <h2 class="title is-4 has-text-weight-light">
                I explore
                <i class="fas fa-lock" aria-hidden="true"></i> Security,
                <i class="fas fa-cogs" aria-hidden="true"></i> Dev Ops and the
                <i class="fas fa-cloud" aria-hidden="true"></i> Internet of Things.
            </h2>
            <h2 class="title is-4 has-text-weight-light">
                You can also find me at
                <i class="fas fa-music" aria-hidden="true"></i> festivals, excited about
                <i class="fas fa-rocket" aria-hidden="true"></i> space exploration and binge watching
                <i class="fas fa-tv" aria-hidden="true"></i> TV shows.
            </h2>
        </div>
    </div>
</section>

{{ end }}
