{{ define "title" }}VJ | Projects > {{ .Title }}{{ end }}
{{ define "main" }}

<section class="section">
	<div class="columns">
		<div class="column is-12">
			<h1 class="title">{{ .Title }}</h1>
		</div>
	</div>
	<div class="columns">
		<div class="column is-12">
			<ul>
				{{ if .Params.github_address }}
				<li class="is-inline">
					<a target="_blank" href="{{ .Params.github_address }}">
						<i class="fab fa-github"></i>
					</a>
				</li>
				{{end}}
				{{ if .Params.website }}
				<li class="is-inline">
					<a target="_blank" href="{{ .Params.website }}">
						<i class="fas fa-globe"></i>
					</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="columns">
		<div class="column is-12">
			<h2 class="subtitle">{{ .Description }}</h2>
		</div>
	</div>
	<hr />
	<div class="columns">
		<div class="column is-12">
			<div class="content">
				<p>{{ .Content }}</p>
			</div>
		</div>
	</div>
</section>

{{ end }}
